@charset "utf-8";

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

a {
  color: rgb(29, 29, 29);
  text-decoration: none;
}

.global-nav-link {
  height: 44px;
}

.local-nav-link {
  height: 44px;
  border-bottom: 1px solid #ddd;
}

.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.local-nav-links .productname {
  font-size: 1.4rem;
  margin-right: auto;
  font-weight: bold;
}

.local-nav-links a:not(.productname) {
  font-size: 0.8rem;
  margin-left: 2em;
}

.scroll-section {
  padding-top: 50vh;
}

.scroll-section h1 {
  text-align: center;
  font-size: 9vw;
}

.description {
  max-width: 1000px;
  font-size: 2rem;
  margin: 0 auto;
  color: #888;
  line-height: 1.6;
}

.description strong {
  font-size: 6rem;
  color: rgb(29, 29, 31);
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  color: #888;
  font-size: 4vw;
  line-height: 1.6;
}

.mid-message strong {
  font-size: 2rem;
  color: rgb(29, 29, 31);
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 2rem;
  color: #888;
  text-align: center;
}

footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  color: #fff;
  background-color: darkorange;
}

.desc-message {
  font-size: bold;
  width: 20%;
}

#show-scene-0 #scroll-section-0 .sticy-elem,
#show-scene-1 #scroll-section-1 .sticy-elem,
#show-scene-2 #scroll-section-2 .sticy-elem,
#show-scene-3 #scroll-section-3 .sticy-elem {
  display: block;
}

.main-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-message p {
  font-size: 4vw;
  font-weight: bold;
  line-height: 1.2;
  height: 3em;
  margin: 5px 0;
  text-align: center;
}

.main-message small {
  font-size: 1.5vw;
  display: block;
  margin-bottom: 0.5em;
}

.sticy-elem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.desc-message {
  width: 20%;
}

/* 768px 이하 */
@media (max-width: 768px) {
  .local-nav-links,
  .global-nav-links,
  .description,
  .mid-message,
  .canvas-caption {
    padding: 0 1rem;
  }

  .description {
    font-size: 1rem;
  }

  .description strong {
    font-size: 3rem;
  }

  .mid-message {
    font-size: 2rem;
  }

  .canvas-caption {
    font-size: 1.2rem;
  }

  .desc-message {
    font-size: bold;
    width: 50%;
  }

  .main-message {
    font-size: 2.5rem;
  }

  .main-message small {
    font-size: 1rem;
  }
}
